# Build artifacts
apps/*/dist
libs/*/dist
dist

# Test files
**/*.spec.ts
**/*.test.ts

# IDE
.idea
.vscode

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
