node_modules/
dist/
.env
.env.local
*.log
.nx/cache
.nx/workspace-data
coverage/
apps/coverage/
**/coverage/
**/dist/
tmp/
*.tsbuildinfo
*/node_modules
**/src/**/*.js
**/*.js.map
*/graphify-out
graphify-out
osrm-data/